<!DOCTYPE html>
<html>

   <head>
      <title>Backend Challenges | Free Code Camp</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
            <h1 class="header">
              API Basejump: 
              <a href="https://www.freecodecamp.org/challenges/request-header-parser-microservice" target="_blank">
                Request Header Parser Microservice
              </a>
            </h1>
        
            <p>
                By <a href="https://www.freecodecamp.org/amimaro" target="_blank">Amimaro</a>
            </p>
            <hr />
        
            <blockquote>
                User stories:
                <ul>I can get the IP address, language and operating system for my browser.</ul>
            </blockquote>
            <h3>Example usage:</h3>
            <code>https://fcc-api-2.glitch.me/api/whoami</code>
            <h3>Example output:</h3>
            <code>
                {
                  "ipaddress": "YOUR_IP",
                  "language": "YOUR_LANGUAGE",
                  "software": "YOUR_SOFTWARE"
                }
            </code>
            <hr />
            <p>
              Click here:
            </p>
            <a class="btn btn-primary" href="/api/whoami">Who Am I</a>
      </div>
   </body>

</html>
